<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="http://tomgeary.me" class="navbar-brand">www.tomgeary.me</a>
    </div>

    <ul class="navbar-nav">
      <li><a *ngIf="basicauthenticationService.isUserLoggedIn()" routerLink="/welcome/tomgeary" class="nav-link">home</a></li>
      <li><a *ngIf="basicauthenticationService.isUserLoggedIn()" routerLink="/datasources" class="nav-link">datasources</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf="!basicauthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">login</a></li>
      <li><a *ngIf="basicauthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">logout</a></li>
    </ul>
  </nav>
</header>
